{% extends "bootstrap/base.html" %}
{% block head %}
    {{ super() }}
    <style>
        body{
            background: #333;
            color: #f5f5f5;
        }
    </style>
{% endblock %}
{% block title %}Genome analysis - Confirm your account{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Genome Analysis</a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info" role="alert" style="margin-top: 100px;border-radius: 10px">
                <h1>
                    Hello, {{ current_user.username }}!
                </h1>
                <h3>You have not confirmed your account yet.</h3>
                <p>
                    Before you can access this site you need to confirm your account.
                    Check your inbox, you should have received an email with a confirmation link.
                </p>
                <p>
                    Need another confirmation email?
                    <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

