/*全局css初始化*/
body,h1,h2,h3,h4,h5,h6,p,ul,li,div{
    margin: 0;
    padding: 0;

}
body{
    background-color: #2E2E2E;
}
ul,li{
    list-style: none;
}
a{
    text-underline: none;
}
ul,li,button{
    list-style: none;
    border: none;
}

/*侧边栏样式*/
.sidebar{
    margin-top: 51px;
    background-color: #262626;
    padding: 0;
    position: absolute;
    box-shadow: 0 5px 3px #262626;
}

.sidebar li{
    font-size: 16px;
}
.sidebar li a{
    color: #f5f5f5;
}
.sidebar li a:hover{
    background-color: #000000;
}
.sidebar li a:hover{
    background-color: #0f0f0f;
}
.sidebar li a:focus{
    background-color: #0f0f0f;
}

.list-group{
    display: none;
}

.panel-inverse{
    background-color: #3c3c3c;
    color: #e1edf7;
    font-size: 16px;
}
.panel-inverse a{
    display: block;
    padding: 10px 15px;
    color: #e1edf7;
    font-size: 18px;
    text-decoration: none;
}
.panel-inverse a:hover{
    background-color: #2E2E2E;


}

.sidebar .panel-body{
    border-top: 1px solid #222;
}

.sidebar .panel-body span{
    display: inline-block;
    width: 50px;
    height: 18px;
    float: right;
    text-align: center;
    background-color: #2a6496;
    vertical-align: baseline;
    line-height: inherit;
}

/*按钮样式*/
#myButton{
    position: absolute;
    left: 17.2%;
    top: 51px;
    padding: 0;
    background-color: #2e2e2e;
    color: #ffffff;
    border:none;
}
#myButton:hover{
    border:none;
}
#myButton:visited{
    border:none;
}
#myButton:focus{
    border:none;
}
#myButton span{
    font-size:16px;
}

.sidebar .sidebar-tool{
    position: absolute;
    left: 100%;
    top: 30px;
    background-color: #2E2E2E;
}
.sidebar-tool button{
    background-color: #2E2E2E;
}


.sidebar-tool span{
    color: #f5f5f5;
}

.sidebar .btn-filter{
    background-color: #3c3c3c;
    color: #ffffff;
    font-size: 14px;
}

.sidebar .btn-filter:hover{
    background-color: #3B666B;
}

.sidebar .btn-tool:focus{
    background-color: #4477c9;
}





































