{% extends "bootstrap/base.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        table > thead > tr > th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
        }
        table>thead>tr>th {
            padding: 12px;
            line-height: 1.428571429;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
        table>tbody>tr>th{
            padding-left: 12px;
            padding-top: 2px;
        }
    .info{
        background: #d9edf7;
    }
    </style>

{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Genome Analysis</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>User</h3>
            <table>
                <thead>
                <tr>
                    <th>User name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Is active?</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in user_list %}
                    <th>{{ user.username }}</th>
                    <th>{{ user.email }}</th>
                    <th>{{ user.role }}</th>
                    {% if user.confirm %}
                        <th>Active</th>
                    {% else %}
                        <th>Deacitve</th>
                    {% endif %}
                    <th><button class="btn btn-danger">Delete</button></th>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.col-md-8 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
{% block script %}
{{ super() }}
    $()
{% endblock %}