<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Genome analysis</title>
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/browser/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
</head>
<body>
<div style="margin: 500px">
    <p><button></button></p><button>按钮</button>
    <br>
    <br>
    <button class="btn btn-danger">按钮</button>
</div>
<script type="text/babel" src="{{ url_for('static', filename="js/components/header.js") }}"></script>
</body>
</html>
















