<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Genome analysis</title>
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/browser/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <link rel="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
</head>
<body>
<div class="container-fluid">
    <div class="header"></div>
    <div class="container"></div>
    <div id="example"></div>
</div>
<script type="text/babel">
    var data = 123;
    var Title = React.createClass({
        propTypes: {
            title: React.PropTypes.string.isRequired,
        },

        render: function(){
            return <h1></h1>
        }
    })
</script>
</body>
</html>





















